<div class="container m-auto w-10/12 my-4 min-h-screen">
  <header class="text-black">
    <h1 class="text-4xl md:text-5xl">
      <strong>{{ blog.title | titlecase }}</strong>
    </h1>
    <p class="my-4">Posted by: {{ blog.author }} on {{ blog.datetime }}</p>
    <p class="p-2 bg-yellow-200 text-xs rounded-md mb-4 w-fit bg-opacity-60">
      {{ blog.category | uppercase }}
    </p>
  </header>
  <div class="">
    <div class="desc-image h-[40vh] md:h-[60vh] object-cover w-full rounded-lg">
      <img
        class="h-full w-full rounded-lg"
        src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt=""
      />
    </div>
    <div class="desc my-4 text-justify text-gray-600">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse natus
      adipisci voluptatum consectetur dolor similique. Dignissimos, dolores
      nesciunt eius eaque officiis accusamus assumenda temporibus excepturi
      culpa. Animi blanditiis eum provident incidunt sed molestias praesentium
      omnis quod iusto rem. Totam reprehenderit delectus, pariatur ducimus,
      possimus consequatur vitae quia, similique dignissimos velit dicta? Quidem
      dolorem mollitia quae quod? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Esse natus adipisci voluptatum consectetur dolor
      similique. Dignissimos, dolores nesciunt eius eaque officiis accusamus
      assumenda temporibus excepturi culpa. Animi blanditiis eum provident
      incidunt sed molestias praesentium omnis quod iusto rem. Totam
      reprehenderit delectus, pariatur ducimus, possimus consequatur vitae quia,
      similique dignissimos velit dicta? Quidem dolorem mollitia quae quod?.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse natus
      adipisci voluptatum consectetur dolor similique. Dignissimos, dolores
      nesciunt eius eaque officiis accusamus assumenda temporibus excepturi
      culpa. Animi blanditiis eum provident incidunt sed molestias praesentium
      omnis quod iusto rem. Totam reprehenderit delectus, pariatur ducimus,
      possimus consequatur vitae quia, similique dignissimos velit dicta? Quidem
      dolorem mollitia quae quod? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Esse natus adipisci voluptatum consectetur dolor
      similique. Dignissimos, dolores nesciunt eius eaque officiis accusamus
      assumenda temporibus excepturi culpa. Animi blanditiis eum provident
      incidunt sed molestias praesentium omnis quod iusto rem. Totam
      reprehenderit delectus, pariatur ducimus, possimus consequatur vitae quia,
      similique dignissimos velit dicta? Quidem dolorem mollitia quae quod?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse natus
      adipisci voluptatum consectetur dolor similique. Dignissimos, dolores
      nesciunt eius eaque officiis accusamus assumenda temporibus excepturi
      culpa. Animi blanditiis eum provident incidunt sed molestias praesentium
      omnis quod iusto rem. Totam reprehenderit delectus, pariatur ducimus,
      possimus consequatur vitae quia, similique dignissimos velit dicta? Quidem
      dolorem mollitia quae quod? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Esse natus adipisci voluptatum consectetur dolor
      similique. Dignissimos, dolores nesciunt eius eaque officiis accusamus
      assumenda temporibus excepturi culpa. Animi blanditiis eum provident
      incidunt sed molestias praesentium omnis quod iusto rem. Totam
      reprehenderit delectus, pariatur ducimus, possimus consequatur vitae quia,
      similique dignissimos velit dicta? Quidem dolorem mollitia quae quod?
    </div>
  </div>
</div>
